<div class="cv">
    <div class="left-side">
        <div class="experience">
            <div class="exper-head" style="text-align: left;">
                Education
            </div>
            <div class="internship">
                <div class="inter-head">
                    Dhirubhi Ambani Institute of ICT
                </div>
                <div class="inter-head" id="desktop">
                    BTech in Information and Communication Technology
                </div>
                <div class="inter-head" id="mobile">
                    BTech in ICT
                </div>
                <div class="inter-head">
                    Gandhinagar | Aug 2019 - Jun 2023
                </div>
                <div class="inter-head">
                    CGPA: 6.34/10
                </div>
            </div>
        </div>
        <div class="experience">
            <div class="exper-head" style="text-align: left;">
                INTERNSHIP
            </div>
            <div class="internship">
                <div class="inter-head">
                    CLOMOTECH PVT LTD | Frontend Developer
                </div>
                <div class="inter-head">
                    Feb 2023 - Jul 2023 | Remote | <a
                        href="https://drive.google.com/file/d/1EgSCFqfJ0HpgNt1NKC83r1l0tthA6OfW/view" target="_blank"
                        rel="noreferrer">Experiece Latter</a>
                </div>
                <div class="inter-disc">
                    <ul>
                        <li>Collaborated on the development of a Web Application for ICICI Lombard, focusing on
                            improving user
                            experience and resolving technical issues.</li>
                        <li>Assisted in optimizing application performance, resulting in a noticeable improvement in
                            responsiveness
                            and overall user satisfaction.
                        </li>
                        <li> Contributed to the resolution of 10+ bugs and the implementation of 5+ new features to
                            enhance the
                            application’s functionality.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="experience">
            <div class="exper-head" style="text-align: left;">
                PROJECTS
            </div>
            <div class="internship">
                <div class="inter-head">
                    E-commerce Web Application | <a href="https://github.com/tarunboricha/e-commerce" target="_blank"
                        rel="noreferrer">Repository
                        Link</a>
                </div>
                <div class="inter-disc">
                    <ul>
                        <li>Developed an e-commerce web application using Angular, Express.js, and MySQL, resulting in a
                            responsive and interactive UI.</li>
                        <li>Implemented product search functionality with query correction by type, name, and color,
                            improving
                            search accuracy by 30% compared to previous methods and enhancing user experience.
                        </li>
                        <li>Integrated JWT authentication for enhanced security, ensuring secure user data handling and
                            safeguarding against potential threats.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="internship">
                <div class="inter-head">
                    Keeper Web Application | <a href="https://github.com/tarunboricha/React-Keeper" target="_blank"
                        rel="noreferrer">Repository
                        Link</a>
                </div>
                <div class="inter-disc">
                    <ul>
                        <li>Developed a web application similar to Google Keep for creating, updating, and deleting
                            notes, featuring
                            user authentication and personalized note storage.</li>
                        <li>Received positive feedback from friends and family who used the application for personal
                            organization</li>
                        <li>Utilized React for the front-end, Express for the back-end, and MySQL for the database,
                            establishing a user-notes relationship.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="internship">
                <div class="inter-head">
                    Task Management System | <a
                        href="https://drive.google.com/file/d/1fGAMzV7JmTrCJuLTlTTrRadkUCP0y6zd/view" target="_blank"
                        rel="noreferrer">Project Link</a>
                </div>
                <div class="inter-disc">
                    <ul>
                        <li>Delivered a solution for the hardware manufacturing domain using database management system.
                        </li>
                        <li>Engineered seamless task tracking and optimizing efficiency in the
                            manufacturing workflow.</li>
                        <li>Developed a solution that enhances productivity, resource allocation and all the
                            CRUD operations.</li>
                    </ul>
                </div>
            </div>
            <div class="internship">
                <div class="inter-head">
                    DNA BASED CRYPTOGRAPHY | <a
                    href="https://github.com/tarunboricha/DNA-based-Cryptography" target="_blank"
                    rel="noreferrer">Repository Link</a>
                </div>
                <div class="inter-disc">
                    <ul>
                        <li>Develop algorithms that encode the information using DNA sequences.</li>
                        <li>DNA based Steganography approach.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="experience">
            <div class="exper-head" style="text-align: left;">
                CERTIFICATIONS
            </div>
            <div class="internship">
                <div class="inter-head">
                    Full Stack Development Training
                </div>
                <div class="inter-head">
                    Dec 2023 | <a
                        href="https://drive.google.com/file/d/1fxiwJBcjEYOkXf8ieS_NVd_8TGJg56gQ/view?usp=sharing"
                        target="_blank" rel="noreferrer">Certificate Link</a>
                </div>
                <div class="inter-disc">
                    <ul>
                        <li>In this training I learnt full-stack web-development skills like React, JavaScript,
                            Express, MySQL and web deployment.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="internship">
                <div class="inter-head">
                    PROBLEM SOLVING INTERMEDIATE
                </div>

                <div class="inter-head">
                    Aug 2022 | <a href="https://www.hackerrank.com/certificates/e0bfe40ea49d" target="_blank"
                        rel="noreferrer">Certificate Link</a>
                </div>
                <div class="inter-disc">
                    <ul>
                        <li>It covers topics of Data Structures (such as HashMaps, Stacks and Queues) and
                            Algorithms (such as Optimal Solutions).
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="right-side">
        <div class="profile-img" style="display: flex; justify-content: center; margin-top: 1%;">
            <img class="cv-profile loaded" loading="lazy"
                src='https://lh3.googleusercontent.com/pw/ABLVV862GaQIXCNelOT_j6AIm2xRw_on3AijbUNuhwfaEWG6qBy0PXzohljv5JBQJU74OLnvDGYbXmjfzozkWEybNC5R_-CD2ic6YWQmFSXpYgzVSH4qFjoZTR4GKtWW-vbJYtk1QvBoDdM0zKJgjGv7V-eY8A=w400-h400-s-no-gm?authuser=0'
                alt="Tarun's profile pitcure" />
        </div>
        <div class="name">Tarun Boricha</div>
        <div class="contact-detail">
            <div>Software Developer</div>
            <div><a style="text-decoration: none;" href="mailto:tarunboricha2092001@gmail.com">tarunboricha2092001&#64;gmail.com</a></div>
            <div>+919374930055</div>
        </div>
        <div class="exper-head" style="text-align: left;">
            COURSEWORK
        </div>
        <ul style="color: white; margin-bottom: 15%;">
            <li>Data Structures</li>
            <li>Programming Language C++</li>
            <li>Operating Systems</li>
            <li>Database Management System</li>
            <li>Object-oriented programming</li>
            <li>Algorithms</li>
        </ul>
        <div class="exper-head" style="text-align: left;">
            SKILLS
        </div>
        <div class="inter-head">
            TECHNICAL
        </div>
        <ul>
            <div class="skil-list">
                <li>C++</li>
                <li>JavaScript</li>
                <li>TypeScript</li>
            </div>
            <div class="skil-list">
                <li>SQL</li>
                <li>OOPs</li>
                <li>HTML</li>
                <li>CSS</li>
            </div>
            <div class="skil-list">
                <li>Angular</li>
                <li>MySQL</li>
                <li>Git and Github</li>
            </div>
            <div class="skil-list">
                <li style="margin: 0;">Basic Express</li>
                <li style="margin: 0 -9% 0 9%;">Basic Unix Command Line</li>
            </div>
        </ul>
        <div class="inter-head">
            NON TECHNICAL
        </div>
        <ul>
            <div class="skil-list">
                <li>Problem Solving</li>
                <li>Communication</li>
            </div>
        </ul>
    </div>
</div>